<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>objat.log</file>
        <append>false</append>
        <immediateFlush>false</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.lovesoft.bitpump.calculation.trade.action.TrendTradeActionDecider" level="info" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="com.lovesoft.bitpump.calculation.trade.wallet.TradeWalletStatistics" level="debug" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <!--<logger name="com.lovesoft.bitpumpmp.calculation.trade.action.TraderSimulationTest" level="INFO" additivity="false">-->
        <!--<appender-ref ref="FILE" />-->
    <!--</logger>-->


    <root level="info">
        <appender-ref ref="FILE" />
    </root>
</configuration>